#determinate-loader {
  transition: width 2s;
  background-color:#8860d0;
}
#loading-screen {
  width: 100%;
  position: absolute;
  height: 100%;
  padding-top: 10%;
  background-color: white;
  z-index: 10;
  padding-left: 10%;
  padding-right: 10%;
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
  color: white;
}

#loading-screen .progress {
  background-color: #ffffff;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  visibility: hidden !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #8860d0 !important;
  border-bottom: 2px solid #8860d0 !important;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#parsing-changes-loading-bar {
  margin: -2px 0px -2px 0px;
  position: relative;
  visibility: hidden;
  z-index: 10;
  background-color: rgb(255, 174, 255);
  /*background-color: rgb(190, 245, 255);*/
}

#parsing-changes-loading-bar .indeterminate {
  background-color: rgba(204, 17, 204, 0.5);
  /*background-color: rgb(89, 224, 247, 0.8);*/
}

#my-navbar {
  padding: 15px 10px;
  font-size: 16px;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
  color: white;
}

#my-navbar .btn {
  margin-left: 10px;
  background-color: transparent;
  line-height: 30px;
  height: 30px;
  top: -3px;
}

#my-navbar > a {
  cursor: pointer;
  color: white;
}

#my-navbar > a:hover {
  cursor: pointer;
  color: #84ceeb;
}

.static-physics-equation.tooltipped {
  cursor: pointer;
}

.static-physics-equation.tooltipped:hover, .physics-equation-headers:hover, .static-physics-equation-header:hover {
  color: #5680e9;
}


.physics-equation-headers {
  margin: 20px 0px !important;
}

.static-physics-equation .mq-empty {
  background-color: transparent !important;
}

.static-physics-equation .mq-sqrt-prefix {
  transform: scale(1, 1.7) !important;
}

.static-physics-equation-header {
  font-weight: bold;
  cursor: pointer;
}

.static-physics-equation-header i {
  visibility: hidden;
}

.static-physics-equation-header:hover i {
  visibility: visible;
  color: inherit;
  cursor: inherit;
}

.mq-sup {
  margin-bottom: 0px !important;
}

.my-row, .my-col {
  margin:0px !important;
  padding: 0px !important;
}

.my-row-2 {
  margin: 0px 0px 5px 0px !important;
  padding: 0px !important;
}

.my_math_field {
  display: inline-block !important;
  border: none !important;
  width: 100%;
  box-shadow: none !important;
}

#define-variable-text {
  font-size: 25px;
  color: #424242;
}

#constant-variable-value-text {
  color: #757575;
  font-size: .8rem;
}

#input-exact-value-wrapper {
  padding-left: 30px;
  display: none;
}

.my_math_field_col {
  padding: 5px 0px 5px 5px !important;
  width: calc(100% - 26px) !important;
  border: 1px solid transparent;
  border-bottom: 1px solid #f5f5f5;
}

.my_math_field_col.active {
  -webkit-box-shadow: 0px 0px 8px 0px #84ceeb;
  -moz-box-shadow: 0px 0px 8px 0px #84ceeb;
  box-shadow: 0px 0px 8px 0px #84ceeb;
  border: 1px rgba(132, 206, 235,0.5) solid;
}

.line-error svg, .line-warning svg {
  cursor: pointer !important;
}

.editor_line {
  margin-bottom: 0px !important;
}

.line_label {
  padding: 6px 4px 0px 4px !important;
  display: inline-block !important;
  height: 23.64px;
  width: 25px !important;
  background-color: #fafafa;
}

.line_label.active {
  background-image: linear-gradient(to bottom right, #5680e9, #84ceeb);
  color: white;
}
.line_label span {
  display: none;
}

.line_label span.active {
  display: inline;
}

.line_label .fa-exclamation-triangle {
  color: orange;
}

.line_label .fa-exclamation-circle {
  color: red;
}

.line_label .fa-question-circle {
  color: purple;
}


#equation-editor-errors.no-errors {
  background-color: #80deea;
}

#equation-editor-errors {
  background-color: #ec407a;
}

#equations_container .tabs .tab a.active, #equations_container .tabs .tab a:focus {
  background-image: linear-gradient(to bottom right, #5680e9, #84ceeb);
  color: white !important;
}

#equations_container .tabs .tab a:hover, #equations_container .tabs .tab a.active {
  color: rgba(132, 206, 235, 1.0);
}

#equations_container .tabs .indicator {
  background-color: #5680e9 !important;
}

#equations_container .tabs .tab a {
  color: rgba(132, 206, 235, 0.7);
}

#physics-equation-a-tag {
  padding-left: 15px;
}

#equation-editor-errors {
  margin-top: 20px;
}

.relevant-equations-badge {
  background-color: white !important;
  background-image: linear-gradient(to bottom right, #84ceeb, rgba(204, 17, 204, 0.3));
  color: #424242 !important;
  visibility: hidden;
}

.relevant-equations-badge.active {
  visibility: visible;
}

.relevant-equation {
  background-color: white;
  background-image: linear-gradient(to bottom right, #84ceeb, rgba(204, 17, 204, 0.3));
}

#my_variables .my-collection.no-variables-defined {
  border: none !important;
}

#my_variables .my-collection #no-variables-defined {
  display: none;
  color: #616161;
  padding: 10px 20px;
}

#my_variables .my-collection.no-variables-defined #no-variables-defined {
  display: inline-block;
}

#my_variables .variable-row{
  padding: 5px !important;
}

#my_variables .variable-row  .variable-value{
  text-align: right !important;
  font-size: 19px;
  background-color: #f5f5f5;
  border: 1px solid #757575;
  min-width: 40px;
  border-radius: 2px;
}

#my_variables .variable-row .variable-value-container {
  max-width: 45%;
  margin-right: 5px;
  border-radius: 2px;
  overflow-y: scroll;
}

#my_variables .variable-row  .variable-value.static-mathfield{
  border: 1px solid #f5f5f5;
}

#my_variables .variable-row  .variable-value.error {
  border: 1px solid #e57373;
}

#my_variables .variable-row  .variable-value.mq-focused.error{
  -webkit-box-shadow: #e57373 0 0 1px 2px, inset #e57373 0 0 2px 0 !important;
  -moz-box-shadow: #e57373 0 0 1px 2px, inset #e57373 0 0 2px 0 !important;
  box-shadow: #e57373 0 0 1px 2px, inset #e57373 0 0 2px 0 !important;
  border-color: #e57373 !important;
  border-radius: 2px !important;
}


#my_variables .variable-row  .variable-value.mq-focused{
  -webkit-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  -moz-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  border-color: #709AC0;
  border-radius: 2px !important;
}

#my_variables .variable-row  .variable-tag{
  padding: 2px 4px;
  border-radius: 2px;
  margin-right: 5px;
}

#my_variables .variable-row.undefined-variable{
  background-color: rgba(255, 235, 238, 0.4);
}

#my_variables .variable-row .delete-var {
  margin-left: 5px;
  position: relative;
  top: 2px;
  visibility: hidden;
}

#my_variables .variable-row.active .delete-var {
  visibility: visible;
}

#my_variables .variable-row.active .delete-var:hover {
  cursor: pointer;
  color: #ef5350;
}

.variable-row.unused-variable .unknown, .variable-row.unused-variable .given, .variable-row.unused-variable .info, .variable-row.unused-variable .constant-info, .variable-row.unused-variable .physics-constant, .variable-row.unused-variable .static-physics-equation {
  color: #9e9e9e !important;
}

#my_variables .variable-row.active {
  background-color: #fafafa !important;
  color: #212121;
}

#my_variables .variable-row.undefined-variable.active {
  background-color: rgba(255, 235, 238, 0.8) !important;
  color: #212121;
}

#my_variables .my-collection .unknown {
  /*background-color: #ffcdd2;*/
  background-image: linear-gradient(to bottom right, #ffcdd2, #ffebee);
  color: #424242;
  cursor: pointer;
}

#my_variables .my-collection .known {
  /*background-color: #ffcdd2;*/
  background-image: linear-gradient(to bottom right, #ffcdd2, #b2dfdb);
  color: #424242;
  cursor: pointer;
}

#my_variables .my-collection .info.undefined-units {
  background-image: linear-gradient(to bottom right, #ffcdd2, #ffebee) !important;
  color: #424242;
  cursor: pointer;
}

#my_variables .my-collection .given {
  /*background-color: #b2dfdb;*/
  background-image: linear-gradient(to bottom right, #b2dfdb, #e0f2f1);
  color: #424242;
  cursor: pointer;
}

#my_variables .my-collection .info {
  background-color: #f5f5f5;
  color: #424242;
  cursor: pointer;
}

#my_variables .my-collection .info.units.dynamic-units {
  background-image: linear-gradient(to bottom right, #c5cae9, #e8eaf6)  !important;;
}

#my_variables .my-collection .info.units {
  background-image: linear-gradient(to bottom right, #b2ebf2, #e0f7fa)
}

#btn-log-success-indicator {
  background-image: linear-gradient(to bottom right, #a5d6a7, #e8f5e9) !important;
}

#btn-log-info-indicator {
  background-image: linear-gradient(to bottom right, #81d4fa, #e1f5fe) !important;
}

#btn-log-warning-indicator {
  background-image: linear-gradient(to bottom right, #ffe082, #fff8e1) !important;
}

#btn-log-error-indicator {
  background-image: linear-gradient(to bottom right, #ef9a9a, #ffebee) !important;
}


#my_variables .my-collection .info.uneditable {
  color: #424242;
  cursor: default;
}
#my_variables .my-collection .info.cantBeVector {
  color: #424242;
  background-color: #ef9a9a !important;
  width: auto !important;
  cursor: default;
  line-height: 26px !important;
  height: 26px !important;
  padding: 0px 5px !important;
  border-radius: 3px !important;
}

#my_variables .my-collection .info.cantBeVector svg {
  position: relative;
  top: 2px;
}

#my_variables .my-collection .constant-info {
  background-color: transparent;
  color: #424242;
}

#my_variables .my-collection .physics-constant {
  /*background-color: #e1bee7;*/
  background-image: linear-gradient(to bottom right, #e1bee7, #ede7f6);
  color: #424242;
}

#my_variables .my-collection {
  margin: 10px;
}

#equations_container {
  padding:0px;
  border-left: 1px solid #eeeeee;
}

#physics_equations, #physics_constants {
  overflow-y: scroll;
}

#physics_equations .collapsible {
  box-shadow: none;
  border: none !important;
}

#physics_equations .collapsible-header {
  padding: 0px 15px !important;
}

#physics_equations .collapsible-header:hover{
  background-image: linear-gradient(to bottom right, #84ceeb, #ffffff);
}

#physics_equations li.active .collapsible-header{
  background-image: linear-gradient(to bottom right, #84ceeb, #ffffff);
}

#physics_equations .collapsible .collapsible-header, #physics_equations .collapsible-body {
  border: none !important;
}

#physics_equations .collapsible-body {
  padding: 5px 0px;
}

#keyboard-container {
  position: absolute;
  bottom: -150px;
  background-color: #f5f5f5;
  height: 150px;
  width: 100%;
  z-index: 4;
  transition: bottom 1s;
  padding: 10px 20px 10px 0px;

  -webkit-box-shadow: 0px 0px 19px -9px rgba(156,156,156,1);
  -moz-box-shadow: 0px 0px 19px -9px rgba(156,156,156,1);
  box-shadow: 0px 0px 19px -9px rgba(156,156,156,1);
}

#keyboard-container .simple-keyboard {
  padding: 0px;
  background-color: #f5f5f5 !important;
}

#keyboard-button{
  position: absolute;
  top: -36px;
  left: 0px;
  -webkit-box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
  -moz-box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
  box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
}

#insert-comment-button{
  position: absolute;
  top: -36px;
  left: 85px;
  -webkit-box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
  -moz-box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
  box-shadow: 24px -17px 49px -32px rgba(156,156,156,1);
  background-image: linear-gradient(to bottom right, #84ceeb, #c1c8e4);
}

#keyboard-button .fa-keyboard {
  font-size: 1.6rem !important;
  margin-right: 8px;
}

#line-message-box {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  background-color: #424242;
  color: white;
  border-radius: 2px;
  padding: 5px 8px;
  opacity: 1.0;
}

#line-message-box-question, #line-message-box-warning, #line-message-box-error {
  display: none;
}

#line-message-box-question.active, #line-message-box-warning.active, #line-message-box-error.active {
  display: block;
}

#math_field_editor_container, #my_variables-collection-container {
  overflow-y: scroll;
}

#my_variables-collection-container .my-collection {
  border: none;
}

#similar-variables-info-container {
  font-size: 14px;
  color: #616161;
  height: 0px;
  overflow-y: hidden;
  opacity: 0;
}

#more-info-on-similar-variables {
  cursor: pointer;
}

#more-info-on-similar-variables:hover {
  color: #0097a7;
}

.log-notification {
  border-radius: 3px;
  padding:3px 5px;
  margin-left:3px;
}

.btn-log-notification  {
  padding: 0px 10px;
  font-size: 14px;
  color: #424242;
  margin-left: 5px;
  margin-top: 15px;
}

.btn-log-notification svg {
  position: relative;
  top: 2px;
}

#editor-log-container {
  position: absolute;
  top: 0px;
  right: -41.6%;
  height: 100%;
  width: 41.6%;
  z-index: 3;
  background-color: white;
}

#editor-log-container .collapsible.log-container {
  margin: 0px;
  box-shadow: none;
}

#editor-log-container .collapsible-header svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

#editor-log-container .collapsible-body.information-container {
  padding: 20px;
}

#editor-log-container .collapsible-body.information-container .collapsible {
  margin: 0px;
}

#close-editor-log {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 3;
  font-size: 26px;
  cursor: pointer;
  color: #616161;
}

#close-editor-log:hover {
  color: #ef5350;
}

#editor-log-container .collapsible .collapsible-body {
  overflow-y: scroll;
}

#keyboard-tab-container {
  position: relative;
  top: -5px;
}

#keyboard-tab-container .keyboard-tabs {
  height: 32px;
  border-radius: 3px;
  width: 110px;
  border-radius: 0px 3px 3px 0px;
  background-color: white;
  color: #424242;
  margin-bottom: 3px;
  text-transform: none;
  cursor: pointer !important;
}

#keyboard-tab-container .keyboard-tabs span {
  cursor: pointer !important;
}

#keyboard-tab-container .keyboard-tabs.active {
  background-image: linear-gradient(to bottom right, #5680e9, #84ceeb);
  color: white;
}

#keyboard-tab-container .keyboard-tabs:hover {
  background-color: #e0f7fa;
}

#keyboard-tab-container .keyboard-tabs .keyboard-latex {
  position: relative;
  top: -3px;
}

#my-keyboard-container .keyboard-latex {
  text-transform: none;
}

#my-keyboard-container .keyboard-latex .mq-sqrt-prefix {
  transform: scale(1, 1.2) !important;
}

#my-keyboard-container .btn {
  width: 100%;
  background-color: #f5f5f5;
  color: #424242;
  cursor: pointer;
}

#my-keyboard-container .btn * {
  cursor: pointer;
}

#my-keyboard-container .row {
  margin-bottom: 5px !important;
}

#my-keyboard-container .col {
  padding-right: 5px !important;
  padding-left: 0px !important;
}

#my-keyboard-container #greek-letters-uppercase {
  display: none;
}

#my-keyboard-container .mq-empty {
  display: none;
}

#btn-greek-letter-uppercase, #btn-greek-letter-lowercase {
  font-size: 12px;
}

#greek-letters-keyboard {
  display: block;
}

#operators-keyboard, #functions-keyboard, #advanced-keyboard {
  display: none;
}

#relevant-physics-equations-total-count {
  margin-bottom: -48px;
  float: right;
  margin-right: 5px;
  visibility: hidden;
}

#relevant-physics-equations-total-count.active {
  visibility: visible !important;
}

#relevant-physics-equations-total-count > span {
  padding: 3px;
  background-color: white !important;
  border-radius: 5px;
  color: #424242;
  background-image: linear-gradient(to bottom right, #84ceeb, rgba(204, 17, 204, 0.2));
}

.mq-math-mode .mq-text-mode {
  font-family: arial !important;
  color: #9e9e9e !important;
}

.mq-math-mode .mq-text-mode.mq-hasCursor {
  box-shadow: none !important;
  text-decoration: underline;
  text-decoration-color: #4fc3f7;
}

.undefined-variable-badge {
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer !important;
  color: #424242;
}

.undefined-variable-badge .mq-overline{
  border-color: #424242;
}

.undefined-variable-badge:hover .mq-overline{
  border-color: #0097a7;
}
.undefined-variable-badge:hover {
  color: #0097a7;
}

#warning-box-undefined-vars .mq-overline {
  border-color: white !important;
}

#units-dropdown-menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: none;
  min-width: 300px;
  height: 300px;
  background-image: linear-gradient(to bottom right, #f5f5f5, #fafafa);
}

#units-dropdown-menu .menu-container{
  height: 100%;
  overflow-y: scroll;
}

#input-user-units-search {
  font-size: 14px;
}

#units-dropdown-menu .si-unit-row .col {
  padding-top: 3px;
  padding-bottom: 3px;
}

#units-dropdown-menu .si-unit-row:hover {
  background-color: #e0f2f1;
  cursor: pointer;
}

#units-dropdown-menu .si-unit-row.active {
  background-color: #b2dfdb !important;
  cursor: pointer;
}

#quantities-match-custom-units .si-unit-row .col {
  padding-top: 3px;
  padding-bottom: 3px;
}

#quantities-match-custom-units .si-unit-row:hover {
  background-color: #e0f2f1;
  cursor: pointer;
}

#quantities-match-custom-units .si-unit-row.active {
  background-color: #b2dfdb !important;
  cursor: pointer;
}

.error-log .log-static-latex .mq-scaled.mq-paren, #my-keyboard-container .mq-scaled.mq-paren {
  transform: scale(0.8, 1.3) !important;/*this fixes brackets for static math fields in the editor logger*/
}

#physics_equations .mq-scaled.mq-paren {
  transform: scale(0.9, 2) !important;
}

.warning-header {
  color: #ffd54f;
}

.error-header {
  color: #E57373;
}

#btn-update-imported-variables:not(.disabled), #btn-cancel-imported-variables {
  background-color: #5680e9 !important;
}

.btn-import-variable-definition {
  line-height: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: linear-gradient(to bottom right, #5680e9, #84ceeb);
  display: none;
}

#physics_equations .collapsible-header:hover .btn-import-variable-definition {
  display: inline-block;
}

.more-information-videos-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  opacity: 0.0 !important;
  width: 30vw;
}

.more-information-videos-container .carousel.carousel-slider img {
  width: 100%;
}

.more-information-videos-container .carousel.carousel-slider {
  height: 15vw !important;
  border-radius: 5px;
}

.more-information-videos-container .video-thumbnail-container, .more-information-videos-container .video-title-container {
  height:15vw;
  width: 30vw;
}

.more-information-videos-container .video-title-container {
  position:relative;
  top:-15vw;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 16px;
}

.more-information-videos-container.active {
  opacity: 1.0 !important;
}

#btn-play-info-video {
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
}

.video-iframe-container{
  position: absolute;
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
  bottom: 0px;
  right: 0px;
}

.video-iframe-container .close-iframe-container{
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
}

.video-iframe-container .close-iframe-container:hover{
  color: black;
}

.video-level.badge {
  background-image: linear-gradient(to bottom right, #5680e9, #8860d0);
  color: white;
}


#modal-create-custom-unit {
  width: 70% !important;
  height: 70% !important;
}

#modal-create-custom-unit .modal-content {
  height: 100%;
}

#modal-create-custom-unit .modal-content > .row {
  height: 100%;
}

#modal-create-custom-unit .modal-content > .row > .col {
  height: 100%;
}

#supported-si-units-container {
  border-left: 1px solid #e0e0e0;
  height: 100%;
}

#supported-si-units-container > .row {
  height: 100%;
}

#quantities-match-custom-units-container {
  border-top: 1px solid #e0e0e0;
}

#btn-create-custom-unit {
  margin-bottom: 10px;
  background-color: #5680e9 !important;
  color: white;
}

#btn-create-custom-unit.disabled {
  background-color: #e0e0e0 !important;
}

#badge-create-custom-unit {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #5680e9, #84ceeb);
}

input[type=text]:focus {
  border-bottom: 1px solid #5680e9 !important;
  box-shadow: 0 1px 0 0 #5680e9 !important;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.variable-collection-error-container {
  visibility: hidden;
}

.variable-collection-error-container.active {
  visibility: visible;
}